# first make the virtual environment to install the package
https://packaging.python.org/en/latest/guides/installing-using-pip-and-virtual-environments/


bottle==0.13.2
bottle-websocket==0.2.9
cffi==1.17.1
click==8.1.8
cmake==3.31.4
colorama==0.4.6
dlib==19.24.6
Eel==0.18.1
face-recognition==1.3.0
face_recognition_models==0.3.0
future==1.0.0
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
mysql-connector==2.2.9
numpy==2.2.1
opencv-python==4.10.0.84
pillow==11.1.0
pycparser==2.22
pyparsing==3.2.1
setuptools==75.8.0
typing_extensions==4.12.2
zope.event==5.0
zope.interface==7.2
